<p>
    This project is a demonstration of how to migrate an AngularJS app from
    a hand-spun build process to webpack.
</p>

<h2>Bundling JavaScript</h2>
<p>
    The JavaScript is bundled using webpack. The npm package
    <code>webpack-stream</code> creates a gulp stream out of webpack's output.
</p>
<p>
    webpack knows the entry point of the application, and it follows the calls
    to <code>require()</code> to learn what other files need to be bundled.
    This means the build script no longer needs to know what order to bundle
    files. As long as <code>require()</code> is used at the right places, files
    will be bundled in a correct order.
</p>

<h2>Compiling templates</h2>
<p>
    The AngularJS templates are compiled and added to the template cache by the
    npm package <code>gulp-angular-templatecache</code>. The output of that
    plugin is concatenated with the rest of the JavaScript before minification.
</p>

<h2>CSS</h2>
<p>
    webpack bundles CSS. <code>app.js</code> imports the SCSS file as though it
    were a JavaScript file:
</p>
<pre><code>
    require('../css/app.scss')
</code></pre>
<p>
    webpack understands this is a Sass file because of this module rule:
</p>
<pre><code>
    module: {
      rules: [
        {
          test: /\.s?css$/,
          use: [
            'style-loader',
            'css-loader',
            'sass-loader',
          ]
        }
      ]
    }
</code></pre>
<p>
    Any file matching the test regex will be fed into three loaders in
    sequence:
</p>
<ul>
    <li>
        <code>sass-loader</code> compiles Sass to standard CSS.
    </li>
    <li>
        <code>css-loader</code> reads CSS and finds any <code>url()</code> or
        <code>@import</code> references, and bundles those as modules.
    </li>
    <li>
        <code>style-loader</code> turns the CSS into a format that can be
        loaded at runtime.
    </li>
</ul>

<h2>Development server</h2>
<p>
    The development server is Browsersync. Once all the JavaScript, CSS, and
    other assets are bundled and placed in <code>./dist</code>,
    Browsersync serves files out of that directory.
</p>
<p>
    A gulp watch is placed on the input files. If any change, the appropriate
    gulp task is executed, then Browsersync reloads the page in the browser.
</p>
